proxy_http_version 1.1;
server_tokens off;

server {
  listen 80;
  listen [::]:80 ipv6only=on;

  server_name ~^[2345]\d\d\d\d\.<%= regexp_escape(@conf['fqdn']) %>$;

  return 301 https://$host$request_uri;
}

server {
  listen 443 ssl http2;
  listen [::]:443 ipv6only=on ssl;

  server_name ~^(?<port_to_forward>[2345]\d\d\d\d)\.<%= regexp_escape(@conf['fqdn']) %>$;

  ssl_certificate /etc/ssl/<%= @conf['fqdn'] %>.crt;
  ssl_certificate_key /etc/ssl/<%= @conf['fqdn'] %>.key;
  ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
  ssl_ciphers "ECDHE-RSA-AES256-GCM-SHA384:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA256:ECDHE-RSA-AES256-SHA:ECDHE-RSA-AES128-SHA:ECDHE-RSA-DES-CBC3-SHA:AES256-GCM-SHA384:AES128-GCM-SHA256:AES256-SHA256:AES128-SHA256:AES256-SHA:AES128-SHA:DES-CBC3-SHA:!aNULL:!eNULL:!EXPORT:!DES:!MD5:!PSK:!RC4";

  ssl_session_cache    shared:SSL:10m;
  ssl_session_timeout  30m;

  client_max_body_size <%= @conf['nginx']['client_max_body_size'] %>;

  location / {
    proxy_pass http://127.0.0.1:$port_to_forward;

    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Nginx-Proxy true;
    proxy_read_timeout 1200;

    proxy_redirect off;
  }
}
